* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p{
  color: #ffffff;
}

p{
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}

li {
  list-style: none !important;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: 0.5s;
  z-index: 9999999;
}

.header.sticky {
  padding: 5px 100px;
  background-color: black;
  opacity: 0.9;
}

.focus:visited {
  color: #18d26e !important;
}

.link-hover:hover {
  color: #18d26e !important;
  border-bottom: 2px solid #18d26e;
  transition: 0.5s;
}

.default-active{
  color: #18d26e !important;
}

.toggler-button {
  background-color: #18d26e !important;
}
.toggler-button:hover {
  background-color: #14b55f !important;
}

/* Main */

.showcase {
  position: relative;
  height: 100vh;
  background: url(../img/showcase.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content-span {
  color: #18d26e;
}

.main-content-top {
  position: absolute;
  top: 35%;
  left: 10%;
}

.content-top-animation {
  animation: content-top-animation 1s ease-in forwards;
  transform: scale(0);
}
@keyframes content-top-animation {
  to {
    transform: scale(1);
  }
}

.content-top-skills {
  position: absolute;
  animation: content-top-skills 1s ease-in forwards;
  transform: scale(0);
}

@keyframes content-top-skills {
  to {
    transform: scale(1);
  }
}

.main-social-media {
  position: absolute;
  top: 55%;
  left: 10%;
}

.social-media-hover:hover {
  color: #18d26e;
  transition: all 0.5s;
  transform: scale(1.5) rotate(360deg);
}

.wrapper .dynamic-typing {
  line-height: 3rem;
  height: 3rem;
  overflow: hidden;
}

.dynamic-typing li {
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -195px;
  }
}

.dynamic-typing li::after {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #fff;
  animation: typing 3s steps(12) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 1%);
  }
  100% {
    left: 0;
  }
}

/* -------------------- About Page Styles------------------------ */

/* Navbar */

.navbar-opacity {
  opacity: 0.9;
}

.about-showcase {
  background-color: #000;
}

.highlight {
  color: #18d26e !important;
}

.navbar-address {
  height: 10vh;
}

.page-information-suedo::before {
  content: "/";
  color: #767070;
  padding: 0.5rem;
}

/* Personal infromation section */

.pesonal-information{
  background-color: #000;
}

.personal-information-img{
  height: 100%;
  width: 100%;
}

@media (max-width:556px){
  .personal-information-img{
    height: 90%;
    width: 90%;
  }
}

.custom-icons{
  color: #18d26e;
}




/* About page skill section */

.skills{
  background-color: #000;
}

.skill-suedo-line{
  position: relative;
  color: #767070;
}

.skill-suedo-line::after{
  content: "";
  position: absolute;
  border-bottom: 3px solid #14b55f;
  height: 100%;
  width: 100%;
}

.skills .progress .skill{
  margin-bottom: 20px;
}

.progress-height{
  height: 10px !important;
}


.animation-progress{
  animation: progress-animation 1s ease-in-out forwards;
}

@keyframes progress-animation{
  from{
    width: 0;
  }
  to{
    width: 100;
  }
}



/* Features Section */

.features{
  background-color: #000;
}

.features-custom{
  background-color: #232222;
  padding: 1rem 0;
  border: 1px solid #676363;
}

.features-custom:hover{
  border-width: 2px;
  border-color: #14b55f !important;
  cursor: pointer;
  transition: all 400ms ease-in;
}

.features-custom:hover h3 a{
  color: #18d26e !important;
  transition: all 400ms ease-in;
}







/* -----------------------------Resume page styles------------------------ */

.resume{
  background-color: #000;
}

.resume-suedo{
  position: relative;
  margin-left: 1rem;
}

.resume-circle-suedo{
  position: relative;
  margin-left: 1rem;
}

.resume-circle-suedo::before{
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 1.3rem;
  left: -1.4rem;
  background-color: #000;
  border: 3px solid #18d26e;
}

.resume-suedo::before{
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  border-left: 3px solid #18d26e;
  height: 100%;
}



/* -------------------- Services Page Styles------------------------ */

.service-content{
  background-color: #000;
}

.content-custom-style{
  background-color: #232222;
}

.content-custom-style:hover{
  background-color: #18d26e;
  color: #000;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.content-custom-style:hover p{
  color: #000 !important;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.services-icons{
  color: #18d26e;
}

.content-custom-style:hover .services-icons{
  color: #000 !important;
  transition: all 0.5s ease-in;
  cursor: pointer;
}


/* -------------------- Portfolio Page Styles------------------------ */

.products{
  background-color: #000;
}

.products img{
  height: 100%;
  width: 100%;
}

.slider-images{
  height: 90% !important;
  width: 100% !important;
}

.card-custom{
  background-color: #000 !important;
}

.card-custom:hover{
  transition: all 0.4s ease-in;
  transform: scale(1.1);
}


/* -------------------- Contact Us Page Styles------------------------ */


.contact{
  background-color: #000;
}

.contact-icons{
  color: black;
  background-color: #18d26e;
}

.form-inputs{
  background-color: #000 !important;
  border: 1px solid grey !important;
  color: #fff !important;
}
.form-inputs:focus{
  box-shadow: 0.1rem 0.1rem 0.5rem #18d26e !important;
}

.form-inputs::placeholder{
  color: grey !important;
}

.form-button{
  background-color: #18d26e !important;
  color: #000 !important;
}

.form-button:hover{
  background-color: #1a9a56 !important;
}