* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #ffffff;
}

a {
  text-decoration: none !important;
  color: white !important;
}

li {
  list-style: none !important;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: 0.5s;
  z-index: 9999999;
}

.header.sticky {
  padding: 5px 100px;
  background-color: black;
  opacity: 0.9;
}

.focus:visited {
  color: #18d26e !important;
}

.link-hover:hover {
  color: #18d26e !important;
  border-bottom: 2px solid #18d26e;
  transition: 0.5s;
}

.toggler-button {
  background-color: #18d26e !important;
}
.toggler-button:hover {
  background-color: #14b55f !important;
}

/* Main */

.showcase {
  height: 100vh;
  background: url(../img/showcase.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content-span {
  color: #18d26e;
}

.main-content-top {
  position: absolute;
  top: 35%;
  left: 10%;
}

.content-top-animation {
  animation: content-top-animation 1s ease-in forwards;
  transform: scale(0);
}
@keyframes content-top-animation {
  to {
    transform: scale(1);
  }
}

.content-top-skills {
  position: absolute;
  animation: content-top-skills 1s ease-in forwards;
  transform: scale(0);
}

@keyframes content-top-skills {
  to {
    transform: scale(1);
  }
}

.main-social-media {
  position: absolute;
  top: 55%;
  left: 10%;
}

.social-media-hover:hover {
  color: #18d26e;
  transition: all 0.5s;
  transform: scale(1.5) rotate(360deg);
}

.footer {
  height: 42vh;
}

.wrapper .dynamic-typing {
  line-height: 3rem;
  height: 3rem;
  overflow: hidden;
}

.dynamic-typing li {
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -195px;
  }
}

.dynamic-typing li::after {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #fff;
  animation: typing 3s steps(12) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 1%);
  }
  100% {
    left: 0;
  }
}

/* -------------------- About Page Styles------------------------ */

/* Navbar */

.navbar-opacity {
  opacity: 0.9;
}

.about-showcase {
  height: 50vh;
  background-color: #000;
}

.highlight {
  color: #18d26e !important;
}

.navbar-address {
  height: 10vh;
}

.page-information-suedo::before {
  content: "/";
  color: #767070;
  padding: 0.5rem;
}

/* Personal infromation section */

.pesonal-information{
  background-color: #000;
}

.personal-information-img{
  height: 100%;
  width: 100%;
}

@media (max-width:556px){
  .personal-information-img{
    height: 90%;
    width: 90%;
  }
}

.custom-icons{
  color: #18d26e;
}




/* About page skill section */

.skills{
  background-color: #000;
}

.skill-suedo-line{
  position: relative;
  color: #767070;
}

.skill-suedo-line::after{
  content: "";
  position: absolute;
  border-bottom: 3px solid #14b55f;
  height: 100%;
  width: 100%;
}

.skills .progress .skill{
  margin-bottom: 20px;
}

.progress-height{
  height: 10px !important;
}


.animation-progress{
  animation: progress-animation 1s ease-in-out forwards;
}

@keyframes progress-animation{
  from{
    width: 0;
  }
  to{
    width: 100;
  }
}

